<div class="home">
  <div class="container-fluid">
    <header class="header alert alert-primary">
      <div class="row justify-content-end align-items-center">
        <div class="col-4">
          <h2 class="title text-center" routerLink="/home">Hero Management</h2>
        </div>
        <div class="col-4">
          <a href="" class="login">Login</a>
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Heroes List</li>
      </ul>
    </nav>
    <div class="content">
      <app-heroes></app-heroes>
    </div>
  </div>
</div>
